/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 1440px;
}
/* nav_mec ***************/
.mec_nav{
    background-color: white;
    align-items: center;
    padding: 3px;
}
.left_button a{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 3px;
}
.intestaziione{
    width:100%;
    text-align: center;
}
h1,.grey_bar{
    font-size: 12px;
    display: inline-block;
}
.grey_bar{
    width: 5rem;
    background-color: gray;
    height: .5rem;
}
/* main ******************/
main{
    background-color: black;
    color: white;
    position: relative;
}
.arrow{
    position: absolute;
    top: 50%;
}
.fa-caret-right,.fa-caret-left{
    font-size: 3rem;
}
.fa-caret-left{
    color: grey;
}
.left{
    left: 1rem;
}
.arrow .fa-caret-right{
    color: #39BBFC;
}

.right{
    right: 1rem;
}
/* botton_view */
.view_botton{
    justify-content: end;
    padding: 1rem;
}
.view_botton div{
    background-color: #5454549f;
    font-size: .8rem;
    padding: .2rem;
    border-radius: 5px;
    margin-right: 10px;
}
/* Webcam section */
.all_webcam_container{
    width: 90%;
    margin: auto;
    padding-bottom:2rem;
}
.videocard{
    padding: 2px;
    position: relative;
}
.videocard img{
    width: 100%;
}
.videocard .name{
    position: absolute;
    z-index: 2;
    top: 80%;
    font-size: .5rem;
    background-color: #2d2c2ca6;
    padding: 5px;
}
.name h2{
    display: inline-block;
}
.name i{
    font-size: .7rem;
}
/* final navbar **********************/
.final_navbar{
    justify-content: space-between;
    align-items: center;
    background-color:#232629 ;
}
.final_navbar a{
    color: white;
    text-decoration: none;
    margin-right: 17px;
}
.final_navbar h2{
    font-size: 12px;
    font-weight: 100;
}
.active_mic,.menu{
    text-align: center;
    padding: 2px 5px;
    align-items:center ;
}
.fa-external-link-alt{
    color: #51C623;
}
.end_meeting{
    background-color: #4B4C4F;
    color: #D7544F;
    padding: 1rem;
}
.end_meeting:hover{
    cursor: pointer;
}
/* utility */
.flex{
    display: flex;
}
.w50{
    width: 50%;
}
.w20{
    width: 20%;
}
.green{
    background-color: chartreuse;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}